/* Style du fond noir semi-transparent */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Noir semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style du conteneur du modal */
  .modal {
    background-color: white; /* Fond blanc */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ombre légère */
  }
  
  /* Style du bouton de fermeture */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333; /* Couleur du texte noir */
  }
  